extends base

block content

    block styles
        link(rel='stylesheet' type='text/css' href='../stylesheets/beatbox.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/style.css')

    br
    br
    .beatbox-container
        .beatbox
            .beat
                #65.button A
            .beat
                #83.button S
            .beat
                #68.button D
            .beat
                #70.button F
            .beat
                #71.button G
            .beat
                #72.button H
            .beat
                #74.button J
            .beat
                #75.button K
            .beat
                #76.button L
    
    script(src='../javascripts/beatbox-utils.js')
    script(src='../javascripts/beatbox.js')
    