extends base

block content
  br 
  br

  .our-content
    
    h1 AlbuGierke Products 
    
    p.home
      | We have a few products that we sell and offer some of the most 
      | popoular products being sold right now. We are not merchants but
      | we feel strongly about our products and are happy to offer them. 
      
    p.home
      | We love to support real people doing real things. Here's a great video
      | that will teach you how to make a good drink. 
    
    .video-container
      span
        p.home
          br
          | We love to support real people doing real things. Here's a great video
          | that will teach you how to make a delicious drink. 
        iframe(width='560' height='315' src='https://www.youtube.com/embed/W6dy8SeQqWo' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    
    p.home
      | Additionally we do computer programming and web development work. 
      | If you have technical needs, chances are that we have the technical
      | capabilities to help you achieve your goals. 
    
    h1 Contact
    p.home
      | We would love to hear from you. 
      br
      | Please feel free contact us to discuss a 
      | project or just drop us a line to say hello
      br
      a.home(href='mailto:caseygierke@gmail.com') caseygierke@gmail.com
      