extends base

block content
  br 
  br

  .our-content
    
    h1 AlbuGierke Products 
    
    p.home
      | We have a few products that we sell and offer some of the most 
      | popoular products being sold right now. We are not merchants but
      | we feel strongly about our products and are happy to offer them. 
      
    p.home
      | Additionally we do computer programming and web development work. 
      | If you have technical needs, chances are that we have the technical
      | capabilities to help you achieve your goals. 
    
    h1 Contact
    p.home
      | We would love to hear from you. 
      br
      | Please feel free contact us to discuss a 
      | project or just drop us a line to say hello
      br
      a.home(href='mailto:caseygierke@gmail.com') caseygierke@gmail.com
      