extends base

block content

    block styles
        link(rel='stylesheet' type='text/css' href='../stylesheets/weather-app.css')
        link(rel='stylesheet' type='text/css' href='../stylesheets/style.css')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    br
    br

    main
        h1.banner.p-3 Weather
        .weather-input
            .form-group
                input#city-input.form-control.form-control-lg(type='text' placeholder='Search city')
            button.weather-search.btn.btn-lg.btn-dark(type='button' onclick='getWeatherData()') Search
        #weather-output.mt-3
            .card-deck.mb-3.text-center
            .weather-output.card.mb-4.shadow-sm
                .card-header
                    h1#city-name.my-0.font-weight-normal ----
                .card-body
                    h1#weather-type.card-title ----
                    ul#weather-output-list.list-unstyled.mt-3.mb-4
                        li#temperature Temperature: -- 
                        li#min-temp Min Temp: -- 
                        li#max-temp Max Temp: --
                        li#feels-like Feels Like: -- 
                        li#wind Wind: -- 
                        li#sunrise Sunrise: -- 
                        li#sunset Sunset: -- 
          
    script(src='../javascripts/weather-app.js')