
a {
  color: #red;
}

body {
    font-family: 'Times New Roman';
    line-height: 2.5em;
    font-weight: 900;
    padding-bottom: 80px;
    text-align: center;
    background-image:
        radial-gradient(
          #B0E0E6,
          #807f7e
        );
}

p {
    text-align: center;
    font-weight: bolder;
}

p.home, a.home {
  text-shadow: 1px 1px 2px rgb(24, 2, 2), 0 0 1em blue, 0 0 0.2em blue;
  color: gainsboro;
}

.bannor {
    background-size: 900px 700px;
    margin: auto;
    text-align: center;
}

.our-content {
    font-family: 'Times New Roman';
    color: #000080;
    max-width: 70%;
    margin: auto;
    line-height: 2.5em;
    padding-top: 71px;
    padding-bottom: 80px;
    background-image: url(../images/assets/TorreInvertido3.JPG);
    background-size: fill;
    background-position: center center;
r   
}

button:hover {
	background-color: orange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000080;
}

.navigation {
  /*This part fixes it to the top of the page*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 25;
}

.product-bar {
  /*This part fixes it to the top of the page*/
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  z-index: 25;
}

li {
  float: left;
}

li .product-bar {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: 700;
  text-decoration: none;
}

li a:hover {
  background-color: #0000CD;
  color: #87CEFA;
}

.active {
  background-color: #2E86C1;
}

h1 {
  text-align: center;
  color: #000080;
  font-family: 'Times New Roman';
  font-size: 3.5rem;
  font-weight: 1000;
  text-shadow: -1px -1px 0 #FFFAFA, 1px -1px 0 #FFFAFA, -1px 1px 0 #FFFAFA, 1px 1px 0 #FFFAFA;
}

h2 {
  text-align: center;
  font-weight: bolder;
  text-shadow: -0.1px -0.1px 0 #FFFAFA, 0.1px -0.1px 0 #FFFAFA, -0.5px 0.5px 0 #FFFAFA, 0.5px 0.5px 0 #FFFAFA;
}

.input-group {
  padding-top: 50px;
}

.product-container, .video-container {
  border: 0px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.button-container {
  display: flex;
  border: 0px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.product-container img {
  margin: 10px;
  box-shadow: 0px 10px 50px rgba(0,0,0, 0.7);
}

.product-container img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

span {
  margin: auto;
}